nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text-pramary {
        color: rgba(253, 110, 10, 1);
    }
}
.nav-title {
color: #181818;
font-size: 45px;
font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: var(--dark-02, #474747);
}
.but-pramary {
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color: var(--white-color, #FFF);
font-size: 20px;
font-weight: 700;
padding: 15px 35px;


}
